<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>
            <div class="row about-details">
                {% assign animationDelay = 0 %}
                {% for about in site.aboutBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-sm-{{ colWidth }} col-xs-12">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <a href="{{ about.link }}">
                            <h5>{{ about.title }}</h5>
                            <img class="img-circle" src="{{ site.baseurl }}/img/about-section/{{ about.image }}"
                                height="128" width="128" alt="{{ about.title }}">
                        </a>
                        <p>{{ about.text }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Adding Video Carousal for landing page-->

    <div class="page-wrap">

        <div id="home-slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide swiper-slide-one">
                <div class="swiper-image" data-swiper-parallax-y="-20%">
                  <div class="swiper-image-inner swiper-image-left swiper-image-one">
                    <h1><br><span class="emphasis">Gesture Controlled</span>. <br><span>Gripper</span></h1>
                    
                  </div>
                </div>
                <div class="swiper-image" data-swiper-parallax-y="35%">
                  <div class="swiper-image-inner swiper-image-right swiper-image-two">
                    <h1><span class="emphasis">Spider </span>. <br><span>Bot</span></h1>
                  </div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-two">
                <div class="swiper-image" data-swiper-parallax-y="-20%">
                  <div class="swiper-image-inner swiper-image-left swiper-image-three">
                    <h1>The <span class="emphasis">Drop</span>. <br><span>Of Eternal life.</span></h1>
                    <p>Chapter II, page VII</p>
                  </div>
                </div>
                <div class="swiper-image" data-swiper-parallax-y="35%">
                  <div class="swiper-image-inner swiper-image-right swiper-image-four">
                    <p class="paragraph">
                      A thirsty Crow found a Pitcher with some water in it, but so little was there that, try as she might, she could not reach it with her beak, and it seemed as though she would die of thirst within sight of the remedy.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-three">
                <div class="swiper-image" data-swiper-parallax-y="-20%">
                  <div class="swiper-image-inner swiper-image-left swiper-image-five">
                    <h1>A <span class="emphasis">Sense</span>. <br><span>Of Things to Come.</span></h1>
                    <p>Chapter III, page XI</p>
                  </div>
                </div>
                <div class="swiper-image" data-swiper-parallax-y="35%">
                  <div class="swiper-image-inner swiper-image-right swiper-image-six">
                    <p class="paragraph">
                      Every man carries Two Bags about with him, one in front and one behind, and both are packed full of faults. The Bag in front contains his neighbours’ faults, the one behind his own. Hence it is that men do not see their own faults, but never fail to see
                      those of others.
                    </p>
                  </div>
                </div>
              </div>
      
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      
      </div>
      <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>
    
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js'></script>
          <script id="rendered-js" >
    var mySwiper = new Swiper(".swiper-container", {
      direction: "vertical",
      loop: true,
      pagination: ".swiper-pagination",
      grabCursor: true,
      speed: 1000,
      paginationClickable: true,
      parallax: true,
      autoplay: false,
      effect: "slide",
      mousewheelControl: 1 });
    //# sourceURL=pen.js
        </script>
    