<!-- Begin Footer -->
<footer id="footer" class="footer">
    <div class="row">
        <div class="logo logo-footer pull-right"></div>
    </div>
    <div class="row">
        {% for block in site.footerBlocks %}
        {% assign colWidth = 12 | divided_by: forloop.length %}
        <div class="col-md-{{ colWidth }} col-xs-6">
            <h5>{{ block.title }}</h5>
            
            <ul>
                {% for linkElement in block.links %}
                <li><a href="{% if linkElement.permalink != null %}{{ linkElement.permalink | prepend: site.baseurl }}{% else %}{{ linkElement.link }}{% endif %}" {% if linkElement.link != null %}target="_blank"{% endif %}>{{ linkElement.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <ul class="social-links">
                <a href="https://facebook.com/robotixiitkgp" id="social"><i class="fa-brands fa-facebook fa-3x"></i></a>
                <a href="https://twitter.com/RobotixIITKgp" id="social"><i class="fa-brands fa-twitter fa-3x"></i></a>
                <a href="https://www.youtube.com/robotixiitkgp" id="social"><i class="fa-brands fa-youtube fa-3x"></i></a>
                <a href="https://www.instagram.com/robotix_iitkgp/" id="social"> <i class="fa-brands fa-instagram fa-3x"></i></a>
            </ul>
        </div>
    </div>
    <div class="row">
        <!-- Please don't delete this line-->
        <div class="col-md-6">
            <p class="copyright" style="font-size: 1.2rem; color: #8d8a8a;">
                &copy; 2022 Technology Robotix Society, IIT Kharagpur
            </p>
        </div>
    </div>
</footer>
<!-- End Footer -->